<% provide(:title, @book.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

        <p>
        <strong>ISBN:</strong>
        <%=@book.ISBN%>
      </p>

        <p>
          <strong>Title:</strong>
          <%=@book.title%>
        </p>

        <p>
          <strong>Author:</strong>
          <%=@book.author%>
        </p>

        <p>
          <strong>Description:</strong>
          <%=@book.description%>
        </p>

        <p>
          <strong>Status:</strong>
          <%=@book.status%>
        </p>

        <p>
          <%= link_to "delete", @book, method: :delete,
                      data: { confirm: "You sure?" } %>
          <%= link_to 'Edit', edit_book_path(@book) %>
        </p>

    </section>
  </aside>
</div>

