<% provide(:title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

        <p>
        <strong>ISBN:</strong>
        <%=@book.ISBN%>
      </p>

        <p>
          <strong>Title:</strong>
          <%=@book.title%>
        </p>

        <p>
          <strong>Author:</strong>
          <%=@book.author%>
        </p>

        <p>
          <strong>Description:</strong>
          <%=@book.description%>
        </p>

        <p>
          <strong>Status:</strong>
          <%=@book.status%>
        </p>

      <!-- find the owner of the book-->
      <% if current_member.admin? && @book.status == "checkout" %>
        <p>
            <strong>Owner of the book:</strong>
            <%= Member.find(@owner).name %>
        </p>
      <% end %>

        <p>

          <%if current_member.admin? %>
             <%= link_to "Delete", @book, method: :delete,
                      data: { confirm: "You sure?" } %>
             <%= link_to 'Edit', edit_book_path(@book) %>
          <%end%>

          <% if @book.status == "available" %>

              <%= button_to 'Checkout', histories_path(:book_id => @book.id, :act => "checkout")%>

          <%end%>

          <% myhistory =  History.where("member_id" => current_member.id)%>

          <% book_found = false %>

          <% if myhistory != nil %>
              <% myhistory.each do |hist| %>
                <% if hist.book_id == @book.id %>
                  <% book_found = true %>
                <% end %>
              <% end %>
          <% end %>

          <% if @book.status == "checkout" && book_found %>
              <%= button_to 'Return', histories_path(:book_id => @book.id, :act => "available")%>
          <%end%>

          <%if current_member.admin? && @book.status=="checkout"%>
             <p>
             <%= button_to "Return it for #{Member.find(@owner).name}", histories_path(:member_id => @owner, :book_id => @book.id, :act => "available")%>
             </p>
          <%end%>

          <!-- help checkout for a member-->
          <%if current_member.admin? && @book.status == "available"%>

              <%= form_tag histories_path(:book_id => @book.id, :act => "checkout") do %>
              <p>
                <%= text_field_tag :member_name, params[:member_name] %>
                Please input member name.
                <%= submit_tag "Check out for this member", :name => nil %>
              </p>
              <% end %>

          <%end%>

       </p>

      <p>
        <%= link_to 'Back', member_path(current_member) %>
      </p>

    </section>
  </aside>

  <!-- see checkout history of the book-->
  <div class="col-md-8">
    <% if ((current_member.admin?) && (@book.histories.any?)) %>
        <h3>Records (<%= @book.histories.count %>)</h3>
        <ol class="microposts">
            <% @book.histories.each do |b_his| %>
              <li>
                <%= Member.find(b_his.member_id).name %>
                <%= b_his.action %>
              </li>
            <% end %>
        </ol>
    <% end %>
  </div>

</div>
