<li>
  <%= link_to member.name, member %>

  <% if member.pre?  %>
  <%="(Pre admin)"%>
  <% end %>

  <% if member.admin? && !member.pre? %>
      <%=  "(admin)" %>
  <% elsif !member.admin? %>
      <%=  "(member)" %>
  <% end %>




  <% if current_member.admin? && !current_member?(member) && !member.pre? %>
      |
      <%= link_to "delete", member, method: :delete,
                  data: {confirm: "You sure?"} %>

  <% end %>

</li>
