<% provide(:title, 'Find book') %>
<h1>Search book</h1>

<%= form_tag searchbook_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= text_field_tag :classify, params[:classify] %>
      Please input "ISBN", "author", "title", "description", "status"
    </p>
    <p>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<table>
  <thead>
  <tr>
    <th>ISBN</th>
    <th>Title</th>
    <th>Author</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>

  <ul class="books">

    <% if @books != nil %>
    <% @books.each do |book| %>
        <tr>
          <td><%= book.ISBN %></td>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.status %></td>
          <td><%= link_to 'Detail', book %></td>
        </tr>
    <% end %>
    <% end %>

  </ul>

  </tbody>
</table>

<%= link_to "Back", member_path(current_member) %>