<h1>Member Page</h1>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <p>
          <strong>Name:</strong>
          <%=@member.name%>
        </p>

        <p>
          <strong>Email:</strong>
          <%=@member.email%>
        </p>

        <p>
          <%= link_to "Book list", books_path %>
        </p>

      <!--<p>-->
        <!--<% @book = Book.new %>-->
        <!--<%= form_for(@book) do |f| %>-->
            <!--<%= f.label :Status %>-->
            <!--<%= f.text_field :status, class: 'form-control' %>-->
        <!--<%= link_to "Search", Book.find_by_status(@book.status) %>-->
        <!--<% end %>-->
      <!--</p>-->
    </section>
  </aside>
</div>
